/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item.dropdown.show {
    background-color: rgb(141, 141, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-menu {
    margin: 0;
    background-color: rgb(197, 192, 192);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Container styling */
.thumbnail img{
    margin-right: 20px;
    padding: 5px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}